* {
  margin: 0;
  padding: 0;
}

.align {
  padding: 10px;

  text-align: center;
}

#posts-table {
  padding: 5px;
  width: 80%;
  margin: auto;
  border: 1px solid black;
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}
